* {
    margin: 0px;
    padding: 0px;
}

.primary-title {
    font-weight: 800;
    font-size: 2rem;
    color: #131318;
}

.primary-description {
    font-weight: 400;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.7);
    margin: 25px 0;
}

.primary-btn {
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FF5400;
    padding: 10px 15px;
}

/* header style */
body {
    max-width: 1000px;
    margin: 50px auto 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul>li {
    list-style: none;
}

nav li>a {
    text-decoration: none;
    color: black;
}

nav li>a:hover {
    color: #FF5400;
}

/* banner style */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 1.6%, rgba(19, 19, 24, 0) 101.6%), url("../resources/images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 180px;
    margin: 50px 0;
}

.banner-title {
    font-weight: 800;
    font-size: 4rem;
    color: #FFFFFF;
}

.banner-description {
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 40px 0;
}

.banner-search {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
}

.banner-search>input,
select,
button {
    flex: 1;
}

.banner-search input,
select {
    border: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 15px;
    color: gray;
}

/* Banner style end */
/* header end  */

/*  popular-tour style */
.popular-tour-container {
    display: flex;
    gap: 50px;
    margin: 50px 0;
}

.popular-tour-container div {
    flex: 1;
}

.popular-tour-list {
    padding-left: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
}
.popular-tour-list li{
    margin-bottom: 15px;
}

.popular-tour-images img {
    width: 100%;
    height:auto;
}

/* popular tour style end */
/* media query  */
@media screen and (max-width:576px) {
    body {
        margin: 50px 20px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
        /* align-items: flex-start; */
    }

    nav ul {
        gap: 10px;
    }

    .banner {
        padding: 50px 20px;
    }

    .banner-title {
        font-size: 1.8rem;
    }

    .banner-description {
        margin: 30px 0;
    }

    .banner-search {
        flex-direction: column;
        gap: 15px;
    }
    .popular-tour-container{
        flex-direction: column;
    }

}